# SERVER
PORT=8811
APP_BASE_URL=
APP_NAME=
REQUEST_TIMEOUT_MS=120000
HEADERS_TIMEOUT_MS=125000
KEEP_ALIVE_TIMEOUT_MS=65000

# JWT
JWT_SECRET=
JWT_DEFAULT_EXPIRY=

# HASH
HASH_SALT_ROUNDS=

# EMAIL
RESEND_TOKEN=
RESEND_SENDER_ADDRESS=
ALLOW_ALL_EMAILS=
EMAIL_NOTIF_INTERVAL_MINS=
EMAIL_FALLBACK_SLACK_WEBHOOK=


# DB
MONGODB_URI=mongodb://localhost:27017/creator-card-api

# MOCK
MOCK_AUTHORIZATION_HEADER=
MODEL_MOCK_SESSION=
USE_MOCK_MODEL=0
ALLOW_MOCKED_HTTP_PROXY=


# LOGGER
PINO_LOG_LEVEL=
SHOW_RAW_HEADERS=
LOG_APP_REQUEST=0
CAN_LOG_ENDPOINT_INFORMATION=0

#REDIS
REDIS_URL=
QUEUE_NAME=

#VALIDATOR
NO_SINGLE_ERRORS=
TOP_LEVEL_ERROR_MESSAGE=

#SECRET MANAGER
AWS_ACCESS_KEY_ID=
SECRETS_MANAGER_ID=
USE_SECRETS_MANAGER=
AWS_SECRET_ACCESS_KEY=
